html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.color-boxes {
  width: 100%;
}
.top-nav {
  display: inline-block;
  margin: 10px 145px 10px 145px;
  text-align: center;
  border-radius: 25px;
  width: 10%;
  height: 40px;
  line-height: 2em;
}

#pic-heading {
  width: 100%;
}
#pic-heading div {
  display: inline-block;
  margin: 140px;
  width: 30%;
}
#pic-heading div h1 {
  font-size: 45px;
  margin-bottom: 15px;
  font-family: fantasy;
}
#pic-heading div img {
  width: 100%;
  border-radius: 305px;
}
#headings {
  line-height: 90px;
}
#headings h2 {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}
#brown {
  background-color: #deb887;
  line-height: 35px;
  font-size: 15px;
  color: white;
  margin: 30px;
  padding: 30px;
}
#mini {
  width: 20%;
  margin-left: 500px;
}
.mini-img {
  width: 100;
  margin-top: 35px;
  margin-bottom: 45px;
}
#plan {
  background-color: #ff764e;
}
#get {
  background-color: #ffcd69;
}
#learn {
  background-color: #5ed3eb;
}
#plan2 {
  background-color: #ff764e;
}
#get2 {
  background-color: #ffcd69;
}
#learn2 {
  background-color: #5ed3eb;
}
#footer-img {
  width: 100%;
  height: 300px;
  margin-top: 20px;
}
.small-par {
  text-align: center;
}
